---
import { Font } from "astro:assets";
import "../styles/global.css";
---

<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Lumo Tech</title>
    <meta
      name="description"
      content="Transformamos visões complexas em soluções digitais precisas. Engenharia de software de alta performance para empresas que buscam liderar."
    />
    <meta name="author" content="Lumo Tech" />
    <meta
      name="keywords"
      content="Software, Cloud, IA, Consultoria, Lumo Tech"
    />
    <meta name="robots" content="index, follow" />
    <Font cssVariable="--astro-font-inter" />
    <Font cssVariable="--astro-font-sora" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
  </head>
  <body class="font-inter bg-background">
    <slot />
  </body>
</html>
