---
import { Font } from "astro:assets";
import "../styles/global.css";
---

<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Lumo Tech</title>
    <meta
      name="description"
      content="Transformamos visões complexas em soluções digitais precisas. Engenharia de software de alta performance para empresas que buscam liderar."
    />
    <meta name="author" content="Lumo Tech" />
    <meta
      name="keywords"
      content="Software, Cloud, IA, Consultoria, Lumo Tech"
    />
    <meta name="robots" content="index, follow" />
    <Font cssVariable="--astro-font-inter" />
    <Font cssVariable="--astro-font-sora" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <script is:inline>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-PML25D35");
    </script>
  </head>
  <body class="font-inter bg-background">
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-PML25D35"
        height="0"
        width="0"
        style="display:none;visibility:hidden"
      >
      </iframe>
    </noscript>
    <slot />
  </body>
</html>
